@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap");
:root {
  --warna-latar: #fce7c8; /* Krem muda */
  --warna-utama: #b1c29e; /* Hijau Sage */
  --warna-sekunder: #fada7a; /* Kuning Pastel */
  --warna-aksen: #f0a04b; /* Oranye (Untuk Tombol/CTA) */

  /* Tambahan warna gelap mandiri agar teks mudah dibaca */
  --warna-teks: #212529;
}

/* style umum */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Libre Baskerville", serif;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}

table,
th,
tr,
td {
  border: 1px solid black;
  padding: 0.5rem;
  border-collapse: collapse;
}

.tableOrder th {
  text-align: center;
  padding: 1rem;
}

img {
  width: 5rem;
  object-fit: cover;
}

ul li {
  text-decoration: none;
  list-style-type: none;
}

/* style per class */

.orderPage {
  background-color: var(--warna-latar);
}

.judulOrder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--warna-utama);
  padding: 2rem 0;
  border-bottom: 3px solid var(--warna-teks);
}

/* list menu order */

.orderMenuPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.order {
}

/* Pesanan customer */

.orderCustomer {
  background-color: var(--warna-sekunder);
  padding: 1rem 2rem;
  border: 3px solid var(--warna-aksen);
  border-radius: 3rem;
}
.orderCustomer h2 {
  margin-bottom: 1rem;
}
.tableOrderCustomer {
  font-size: 0.8rem;
}

/* Pesanan yang dipilih */

.orderCustomerPage {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  background-color: var(--warna-utama);
}

.orderCustomerChecklist {
  display: flex;
  padding: 1rem;
  flex: 1;
  flex-direction: column;
}
.orderCustomerChecklist h2 {
  margin-bottom: 1rem;
}

.orderCustomerChecklistItem {
  background-color: var(--warna-sekunder);
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  height: 100%;
  border: 5px solid var(--warna-aksen);
}

.orderItem {
  width: fit-content;
}

.orderItem p {
  font-size: 0.6rem;
}

.orderCustomerInformation {
  display: flex;
  flex: 1;
  padding: 1rem 2rem;
  justify-content: space-around;
}
.orderSum {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}

.orderSum p {
  background-color: var(--warna-sekunder);
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  width: 13rem;
  border: 5px solid var(--warna-aksen);
}

.orderStandarOperasional {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.orderStandarOperasional ul li {
  padding: 0.2rem 0;
}

.orderEmpty {
  color: red;
}

@media (max-width: 1020px) {
}
