:root {
  --warna-latar: #fce7c8; /* Krem muda */
  --warna-utama: #b1c29e; /* Hijau Sage */
  --warna-sekunder: #fada7a; /* Kuning Pastel */
  --warna-aksen: #f0a04b; /* Oranye (Untuk Tombol/CTA) */

  /* Tambahan warna gelap mandiri agar teks mudah dibaca */
  --warna-teks: #212529;
}

* {
  margin: 0;
  padding: 0;
}

.firstView {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--warna-latar);
  color: var(--warna-teks);
}

.firstView h1 {
  font-size: 6rem;
  text-shadow: 3px 4px 2px var(--warna-utama);
}

.firstView span {
  font-size: 2rem;
}

/* Halaman Favorit */

.favoritPage {
  background-color: var(--warna-utama);
  padding: 2rem;
}

.favoritPage h1 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 1rem;
}

.favoritMenuPage {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.favoriteMenu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5rem;
  background-color: var(--warna-latar);
}

.favoriteMenu:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.4s ease;
  background: rgba(240, 160, 75, 0.8);
}

.favoriteMenu img {
  height: 15rem;
  width: 15rem;
}

.favoriteMenu h1 {
  font-size: 2rem;

  padding-bottom: 0;
}

/* Halaman Diskon */

.discountPage {
  padding: 2rem 10rem;
  background-color: var(--warna-latar);
}

.discountPage h1 {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 3rem;
}
.discountMenuPage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
}
.discountMenu {
  display: flex;
  justify-content: center;
}

.discountMenuImage {
  position: relative;
}

.discountMenuImage img {
  width: 15rem;
  height: 15rem;
}

.discountMenuImage p {
  position: absolute;
  font-size: 1.5rem;
  top: 0;
  right: 0;
  background-color: #f0a04b;
  border-radius: 3rem;
  padding: 0.5rem;
}

.discountMenuAbout {
  padding: 0 1.5rem;
}

.discountMenuAbout h2 {
  letter-spacing: 0.2rem;
}

.discountMenuAbout p {
  font-size: 1.2rem;
  line-height: 2.2rem;
}
